<app-action-bar>
  <div class="p-d-flex p-ai-center p-jc-between">
    <app-custom-breadcrumb></app-custom-breadcrumb>
    <p-button icon="pi pi-plus" label="Novo Funcionario" routerLink="/funcionario"
              styleClass="p-button-text p-mb-1"></p-button>
  </div>
</app-action-bar>
<app-custom-progress-bar *ngIf="!!loading"></app-custom-progress-bar>

<p-card>
  <app-custom-progress-text *ngIf="!!loading"></app-custom-progress-text>
  <p-table (onLazyLoad)="onLazyLoad()"
           *ngIf="!loading"
           [lazy]="true"
           [responsive]="true"
           [value]="funcionarios">
    <ng-template pTemplate="header">
      <tr>
        <th title="Nome">Nome</th>
        <th title="Sobrenome">Sobrenome</th>
        <th title="E-mail">E-mail</th>
        <th title="Número do NIS (PIS)">Número do NIS (PIS)</th>
        <th class="lista-acoes" title="Ações">Ações</th>
      </tr>
    </ng-template>
    <ng-template let-funcionario pTemplate="body">
      <tr>
        <td>
          <span class="p-column-title">Nome</span>
          {{funcionario.nome}}
        </td>
        <td>
          <span class="p-column-title">Sobrenome</span>
          {{funcionario.sobrenome}}
        </td>
        <td>
          <span class="p-column-title">E-mail</span>
          {{funcionario.email}}
        </td>
        <td>
          <span class="p-column-title">Número do NIS (PIS)</span>
          {{funcionario.numeroNis}}
        </td>

        <td class="lista-acoes">
          <span class="p-column-title">Ações</span>
          <button [routerLink]="['/funcionario', funcionario.id]"
                  class="p-button-rounded p-button-text acao"
                  icon="pi pi-pencil"
                  pButton
                  pRipple
                  type="button"></button>
          <button (click)="removeFuncionarioClick(funcionario)"
                  class="p-button-rounded p-button-text acao"
                  icon="pi pi-trash"
                  pButton
                  pRipple
                  type="button"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="emptymessage">
      <tr style="line-height:34px">
        <td [attr.colspan]="5">
          <b>Nenhum registro encontrado</b>
        </td>
      </tr>
    </ng-template>
  </p-table>
</p-card>
